*{margin:0;padding:0;box-sizing: border-box;}
.frames{
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.frames header{
    padding: 10px 100px 0 150px;
    background-color: #b22830;
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr;
}
.frames header .logo img{
    width: 100px;
}
.frames header .search form input{
    width: 250px;
    height: 30px;
    outline: none;
}
.frames header .menu-search{
    margin: 10px 0 0 100px;
}
.frames header .search form{
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 30px;
    margin-left: 600px;
}
.frames header .search form button{
    position: absolute;
    right: 9px;
    top: 3px;
    color: black;
    background-color:white;
    border: none;
}
.frames header .search{
    display: flex;
}
.frames header .search .flag img{
    width: 50px;
    height: 27px;
    padding:2px 0 0 10px;
}
.frames header .search .cart i{
    padding:6px 0 0 10px;
    height: 20px;
    width: 30px;
    color: white;
}
.frames header .search .cart i:hover{
    color: #53382c;
}
.frames header .search .d-block i{
    padding:6px 0 0 10px;
    height: 20px;
    width: 30px;
    color: white;
}
.frames header .search .d-block img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dropdown{
    display: flex;
}
.frames header .search .d-block i:hover{
    color: #53382c;
}
.frames header .menu-all .menu-1{
    padding-top: 10px;
}
.frames header .menu-all>.menu-1>li{
    display: inline-block;
}
.frames header .menu-all .menu-1 li{
    position: relative;
    transition: all 0.5s;
}
.frames header .menu-all .menu-1>li>a{
    padding: 0 30px 0 30px;
    display: block;
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-weight: bold;
}
.frames header .menu-all .menu-1 li:hover{
    background-color: #53382c;
}
.frames header .menu-all .menu-1 li .menu-con{
    background-color: #53382c;
    position: absolute;
    z-index: 100;
    top: 150%;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    left: 0;
    right: 0;
    width: 950px;
    height: 190px;
}
.frames header .menu-all .menu-1 li:hover > .menu-con{
    visibility: visible;
    top: 100%;
    opacity: 1;
    padding-top: 20px;
}
.frames header .menu-all .menu-1 li .menu-con ul{
    list-style: none;
}
.frames header .menu-all .menu-1 li .menu-con ul li{
    line-height: 30px;
    text-align: center;
}
.frames header .menu-all .menu-1 li .menu-con ul li a{
    text-decoration: none;
    color: white;
    padding:10px 10px 10px 10px;
}
.frames header .menu-all .menu-1 li .menu-con ul li:first-child a{
    color: yellow;
    font-weight: bold;
}
.frames header .menu-all .menu-1 li .menu-con ul li:hover{
    background-color: #b22830;
}
main .banner1{
    position: relative;
    overflow: hidden;
    height: 485px;
}
main .banner1>.khampha{
    position: absolute;
    bottom: 10%;
    left: 60%;
    width: 300px;
    height: 50px;
    border: 1px solid #f2bc7a;
    border-radius: 5px;
}
main .banner1>a>img{
    width: 100%;
}
main .banner2>a>img{
    width: 100%;
}
main .banner3>a>img{
    width: 100%;
}
main .banner1 .khampha a{
    color: #f2bc7a;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    text-align: center;
    transition: all 0.5s;
}
main .banner1 .khampha a:hover{
    background-color: #f2bc7a;
    color: black;
    border-radius: 5px;
}

main .banner2{
    position: relative;
    overflow: hidden;
    height: 485px;
}
main .banner2>.khampha{
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 300px;
    height: 50px;
    border: 1px solid #f2bc7a;
    border-radius: 5px;
}
main .banner2 .khampha a{
    color: #f2bc7a;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    text-align: center;
    transition: all 0.5s;
}
main .banner2 .khampha a:hover{
    background-color: #f2bc7a;
    color: white;
    border-radius: 5px;
}

main .banner3{
    position: relative;
    overflow: hidden;
    height: 485px;
}
main .banner3>.khampha{
    position: absolute;
    bottom: 10%;
    left: 60%;
    width: 300px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
}
main .banner3 .khampha a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    text-align: center;
    transition: all 0.5s;
}
main .banner3 .khampha a:hover{
    background-color: white;
    color: green;
    border-radius: 5px;
}
.mainbottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mainbottom .slidetext img{
    width: 800px;
    height: 500px;
}
.mainbottom .slidetext{
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.mainbottom .tinmoinhat img{
    width: 720px;
    height: 500px;
}
.mainbottom .slidetext #carouselExampleSlidesOnly{
    position: absolute;
    bottom: 39%;
    color: white;
    left: 58%;
}
.mainbottom .slidetext #carouselExampleSlidesOnly .carousel-item a{
    text-decoration: none;
    color: white;
}
.mainbottom .slidetext #carouselExampleSlidesOnly .carousel-item a:hover{
    color: #f2bc7a;
}
.mainbottom .slidetext #carouselExampleSlidesOnly .carousel-item a h4{
    font-weight: bold;
}
.mainbottom .slidetext h1{
    position: absolute;
    font-weight: bold;
    color: white;
    left: 37%;
    top: 10%;
}
.mainbottom .tinmoinhat{
    position: relative;
}
.mainbottom .tinmoinhat .tin3{
    position: absolute;
    bottom: 5%;
    display: flex;
    left: 15%;
    right: 30%;
}
.mainbottom .tinmoinhat .tin3 img{
    width: 150px;
    height: 100px;
    padding-right: 10px;
}
.mainbottom .tinmoinhat .tin3 .text a{
    text-decoration: none;
    color: black;
}
.mainbottom .tinmoinhat .tin3 .text a:hover{
    color: #b22830;
}

.mainbottom .tinmoinhat .tin2{
    position: absolute;
    bottom: 30%;
    display: flex;
    left: 15%;
    right: 30%;
}
.mainbottom .tinmoinhat .tin2 img{
    width: 150px;
    height: 100px;
    padding-right: 10px;
}
.mainbottom .tinmoinhat .tin2 .text a{
    text-decoration: none;
    color: black;
}
.mainbottom .tinmoinhat .tin2 .text a:hover{
    color: #b22830;
}

.mainbottom .tinmoinhat .tin1{
    position: absolute;
    bottom: 55%;
    display: flex;
    left: 15%;
    right: 30%;
}
.mainbottom .tinmoinhat .tin1 img{
    width: 150px;
    height: 100px;
    padding-right: 10px;
}
.mainbottom .tinmoinhat .tin1 .text a{
    text-decoration: none;
    color: black;
}
.mainbottom .tinmoinhat .tin1 .text a:hover{
    color: #b22830;
}
.mainbottom .tinmoinhat h1{
    position: absolute;
    font-weight: bold;
    color: black;
    left: 15%;
    top: 10%;
}
.frames footer{
    height: 70px;
    background-color: #53382c;
   display: flex;
}
.frames footer .lhtt{
    display: flex;
    line-height: 70px;
    margin-left: 30px;
}
.frames footer .lhtt .highlands{
    padding-right: 40px;
    color: white;
}
.frames footer .lhtt a{
    color: white;
    text-decoration: none;
}
.frames footer .lhtt a i{
    padding-right: 10px;
}
.frames footer .lhtt a:hover{
    color: #f2bc7a;
}
.frames footer .lhtt a:first-child{
    padding-right: 40px;
}
.frames footer .mxh{
    display: flex;
    margin-left: 250px;
}
.frames footer .mxh img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.frames footer .mxh .insta{
    padding-left: 10px;
}
.frames footer .mxh .youtube{
    padding-left: 10px;
}
.frames footer .mxh .face,.insta,.youtube{
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.frames footer .mxh .face:hover{
    margin-top: 10px;
}
.frames footer .mxh .insta:hover{
    margin-top: 10px;
}
.frames footer .mxh .youtube:hover{
    margin-top: 10px;
}